# Mission 2. 패션 스타일 선호 여부 예측
> 2-1. 주어진 라벨링 데이터의 파일 명은 아래와 같은 형식이다.<br>
> "{W/T}\_{이미지ID}\_{시대별}\_{스타일별}\_{성별}\_{설문ID}.json"<br>
> 이에 기반하여 "설문ID" 수 기준으로 "성별&스타일" 통계치를 아래 표 형식으로 기입한다.

In [1]:
# 필요 라이브러리 import
import os
import matplotlib.pyplot as plt
import pandas as pd

plt.style.use('default')
pd.options.display.max_columns = 100

# 데이터셋 경로 설정
train_label_path = "../dataset/training_label"
val_label_path = "../dataset/validation_label"
train_img_path = "../dataset/training_image"
val_img_path = "../dataset/validation_image"

In [2]:
from IPython.display import display_html

# 파일 리스트
training_image_list = os.listdir(train_img_path)
validation_image_list = os.listdir(val_img_path)

# train과 validation 데이터셋의 이미지 수를 확인
print(f"train image: {len(os.listdir(train_img_path))}, validation image: {len(os.listdir(val_img_path))}")

# 파일리스트 -> 메타데이터 Pandas 객체
def img2data(image_list):
    data = []
    for i in range(len(image_list)):
        meta_data = image_list[i].split('_')

        file_name = image_list[i]
        wt = meta_data[0]
        image_id = meta_data[1]
        time = meta_data[2]
        style = meta_data[3]
        gender = meta_data[4][0]

        row = {
            'file_name': file_name,
            'wt': wt,
            'image_id': image_id,
            'time': time,
            'style': style,
            'gender': gender
        }
        data.append(row)
    return pd.DataFrame(data)

# 결과 보기 좋게 HTML편집
def display_left(*args):
    html_str = ''
    for df in args:
        html_str += f'<div style="margin-right:30px;">{df.to_html()}</div>'
    display_html(f'<div style="display: flex;">{html_str}</div>', raw=True)


# 변환 적용
training_img_df = img2data(training_image_list)
validation_img_df = img2data(validation_image_list)

# 결과 확인
display_left(training_img_df.head(), validation_img_df.head())

train image: 4070, validation image: 951

,file_name,wt,image_id,time,style,gender
0,T_00253_60_popart_W.jpg,T,00253,60,popart,W
1,T_00456_10_sportivecasual_M.jpg,T,00456,10,sportivecasual,M
2,T_00588_10_sportivecasual_M.jpg,T,00588,10,sportivecasual,M
3,T_00770_60_minimal_W.jpg,T,00770,60,minimal,W
4,T_00893_90_hiphop_W.jpg,T,00893,90,hiphop,W
,file_name,wt,image_id,time,style,gender
0,T_00253_60_popart_W.jpg,T,00253,60,popart,W
1,T_00456_10_sportivecasual_M.jpg,T,00456,10,sportivecasual,M
2,T_01123_90_hiphop_M.jpg,T,01123,90,hiphop,M
3,T_01514_50_ivy_M.jpg,T,01514,50,ivy,M
4,T_06910_50_classic_W.jpg,T,06910,50,classic,W

In [14]:
from IPython.display import display_html
import json

# 파일 리스트
training_label_list = os.listdir(train_label_path)
validation_label_list = os.listdir(val_label_path)

# train과 validation 데이터셋의 label 수를 확인
print(f"train image: {len(os.listdir(train_label_path))}, validation image: {len(os.listdir(val_label_path))}")

# 파일리스트 -> 메타데이터 Pandas 객체
def label2data(label_list, state='train'):
    data = []

    if state == 'train':
        BASE_PATH = '../dataset/training_label'
    else:
        BASE_PATH = '../dataset/validation_label'

    for i in range(len(label_list)):
        meta_data = label_list[i].split('_')

        file_name = label_list[i]
        wt = meta_data[0]
        image_id = meta_data[1]
        time = meta_data[2]
        style = meta_data[3]
        gender = meta_data[4]
        survey_id = meta_data[5].split('.')[0]

#        with open(os.path.join(BASE_PATH, file_name), 'r') as f:
#            lbl_data = json.load(f)
#            r_id = lbl_data['user']['R_id']
#            q5_value = lbl_data['item']['survey']['Q5']

        row = {
            'file_name': file_name,
            'wt': wt,
            'image_id': image_id,
            'time': time,
            'style': style,
            'gender': gender,
            'survey_id': survey_id,
            #'user_id': r_id,
            #'Q5(1:disliek, 2:like)': q5_value
        }
        data.append(row)
    return pd.DataFrame(data)

# 변환 적용
train_lbl_df = label2data(training_label_list)
val_lbl_df = label2data(validation_label_list)

# 결과 확인
display_left(train_lbl_df.head(), val_lbl_df.head())

train image: 211346, validation image: 36383

,file_name,wt,image_id,time,style,gender,survey_id
0,T_00001_50_ivy_M_041317.json,T,00001,50,ivy,M,041317
1,T_00001_50_ivy_M_197195.json,T,00001,50,ivy,M,197195
2,T_00001_50_ivy_M_208803.json,T,00001,50,ivy,M,208803
3,T_00001_50_ivy_M_211499.json,T,00001,50,ivy,M,211499
4,T_00001_50_ivy_M_227846.json,T,00001,50,ivy,M,227846
,file_name,wt,image_id,time,style,gender,survey_id
0,T_00017_19_normcore_M_148650.json,T,00017,19,normcore,M,148650
1,T_00031_10_sportivecasual_M_167884.json,T,00031,10,sportivecasual,M,167884
2,T_00031_10_sportivecasual_M_208711.json,T,00031,10,sportivecasual,M,208711
3,T_00035_19_normcore_M_214128.json,T,00035,19,normcore,M,214128
4,T_00037_10_sportivecasual_M_167876.json,T,00037,10,sportivecasual,M,167876

In [17]:
img_ids = list(training_img_df['image_id'].unique())

filtered_train_lbl = train_lbl_df[train_lbl_df['image_id'].isin(img_ids)]
filtered_train_lbl

,file_name,wt,image_id,time,style,gender,survey_id
10,T_00004_90_hiphop_M_071538.json,T,00004,90,hiphop,M,071538
11,T_00004_90_hiphop_M_203010.json,T,00004,90,hiphop,M,203010
12,T_00004_90_hiphop_M_206164.json,T,00004,90,hiphop,M,206164
22,T_00007_19_normcore_M_202479.json,T,00007,19,normcore,M,202479
50,T_00023_10_sportivecasual_M_062946.json,T,00023,10,sportivecasual,M,062946
...,...,...,...,...,...,...,...
187866,W_71934_60_mods_M_233707.json,W,71934,60,mods,M,233707
187867,W_71935_60_mods_M_227246.json,W,71935,60,mods,M,227246
187868,W_71935_60_mods_M_233715.json,W,71935,60,mods,M,233715
187869,W_71936_60_mods_M_227252.json,W,71936,60,mods,M,227252
187870,W_71936_60_mods_M_233722.json,W,71936,60,mods,M,233722